/* Header */
body {
    background-color: lightgray;
    margin: 0px;
}
.container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
}
.header {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #ffffff;
    border-bottom: solid 1px #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    float: left;
}
.leftContainer {
    float: left;
    width: 70%;
}
.rightContainer {
    float: left;
    width: 30%;
}
.navItem {
    width: 33%;
    float: right;
    color: #777777;
    text-align: center;
    margin: 0px;
    line-height: 60px;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}
a:link {
    text-decoration: none;
    color: #777777;
}
a:hover {
    cursor: pointer;
}
a:visited {
    color: #777777;
}

/* Index Page CSS */
#name {
    height: 30px;
    background-color: #4aaaa5;
    text-align: center;
    float: left;
    padding: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
}
#portrait {
    height: 15%;
    width: 15%;
    float: left;
    border-right: solid 5px white;
}
.bio {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
    color: #777777;
    float: left;
    width: 960px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}
h2 {
    color: #4aaaa5;
}
.bioContent {
    margin: 10px;
}

/* Contact Page CSS */
#contactInfo {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-left: 15%;
    margin-right: 15%;
    width: 960px;
    margin-top: 0px;
}
.contactHeader {
    margin: 0px;
    margin-left: 12%;
    color: #4aaaa5;
    font-size: 24pt;
}
.containerContact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    width: 960px;
    padding-top: 10px;
    float: left;
    background-color: #ffffff;
    border: solid 1px;
    border-color: #cccccc;
}
.contactRequest {
    width: 960px;
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 10pt;
}
.nameInput {
    width: 75%;
}
.emailInput {
    width: 75%;
}
.messageInput {
    height: 100px;
    width: 75%;
}
.submit {
    margin-left: 12%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.containerPortfolio {
    width: 960px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    padding-top: 10px;
    float: left;
    background-color: #ffffff;
    border: solid 1px #cccccc;
}
.portfolioHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    color: #4aaaa5;
    margin: 2% 0% 3% 12%;
}
.containerOne {
    width: 960px;
    margin-left: 12%;
    margin-right: 12%;
}
.imageOne {
    max-width: 320px;
    width: 45%;
}
.imageTwo {
    max-width: 320px;
    width: 45%;
}
.containerTwo {
    width: 960px;
    margin-left: 12%;
    margin-right: 12%;
}
.imageThree {
    max-width: 320px;
    width: 45%;
}
.imageFour {
    max-width: 320px;
    width: 45%;
}
.containerThree {
    width: 960px;
    margin-left: 12%;
    margin-right: 12%;
}
.imageFive {
    max-width: 320px;
    width: 45%;
}
.footerPortfolio{
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: #666666;
    height: 20px;
    width: 100%;
    padding: 10pt 0pt;
    text-align: center;
    color: #ffffff;
    font-size: 10pt;
    float: left;
    border-top: solid 3px teal;
}
.footerContact {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #666666;
    height: 20px;
    width: 100%;
    padding: 10pt 0pt;
    text-align: center;
    color: #ffffff;
    font-size: 10pt;
    float: left;
    border-top: solid 3px teal;
}
.footerIndex {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #666666;
    height: 20px;
    width: 100%;
    padding: 10pt 0pt;
    text-align: center;
    color: #ffffff;
    font-size: 10pt;
    float: left;
    border-top: solid 3px teal;
}

/* Media Queries */

/* Desktop on screens that at 980px to 767px */
@media (max-width: 980px) {
    .header {
        max-width: 980px;
        width: 100%;
    }
    .container {
        margin: 0px;
    }
    .bio {
        margin: 0px;
        max-width: 980px;
        width: 100%;
    }
    .bioContent {
        margin: 0px;
    }
    .containerContact {
        margin: 0px;
        max-width: 980px;
        width: 100%;
    }
    .contactHeader {
        margin: 0px;
        max-width: 980px;
    }
    .contactRequest {
        margin: 0px;
        max-width: 980px;
        width: 100%;
    }
    .name {
        max-width: 980px;
    }
    .nameInput {
        max-width: 980px;
        width: 95%;
    }
    .email {
        max-width: 980px;
    }
    .emailInput {
        max-width: 980px;
        width: 95%;
    }
    .message {
        max-width: 980px;
    }
    .messageInput {
        max-width: 980px;
        width: 95%;
    }
    .submit {
        margin-left: 0px;
    }
    .containerPortfolio {
        max-width: 980px;
        width: 100%;
        margin: 0px;
    }
    .portfolioHeader {
        margin: 0px;
    }
    .containerOne {
        max-width: 980px;
        width: 100%;
        margin: 0px;
    }
    .containerTwo {
        max-width: 980px;
        width: 100%;
        margin: 0px;
    }
    .containerThree {
        max-width: 980px;
        width: 100%;
        margin: 0px;
    }
    .footerIndex {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 980px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
    .footerPortfolio {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 980px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
    .footerContact {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 980px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
}
/* Tablet on screens that are 768px to 641px */
@media (max-width: 768px) {
    .header {
        position: static;
        max-width: 768px;
        width: 100%;
    }
    .container {
        margin: 0px;
    }
    .bio {
        margin: 0px;
        max-width: 768px;
        width: 100%;
    }
    .bioContent {
        margin: 0px;
    }
    .containerContact {
        margin: 0px;
        max-width: 768px;
        width: 100%;
    }
    .contactHeader {
        margin: 0px;
        max-width: 768px;
    }
    .contactRequest {
        margin: 0px;
        max-width: 768px;
        width: 100%;
    }
    .name {
        max-width: 768px;
    }
    .nameInput {
        max-width: 768px;
        width: 95%;
    }
    .email {
        max-width: 768px;
    }
    .emailInput {
        max-width: 768px;
        width: 95%;
    }
    .message {
        max-width: 768px;
    }
    .messageInput {
        max-width: 768px;
        width: 95%;
    }
    .submit {
        margin-left: 0px;
    }
    .containerPortfolio {
        max-width: 768px;
        width: 100%;
        margin: 0px;
    }
    .portfolioHeader {
        margin: 0px;
    }
    .containerOne {
        max-width: 768px;
        width: 100%;
        margin: 0px;
    }
    .containerTwo {
        max-width: 768px;
        width: 100%;
        margin: 0px;
    }
    .containerThree {
        max-width: 768px;
        width: 100%;
        margin: 0px;
    }
    .footerIndex {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 768px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
    .footerPortfolio {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 768px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
    .footerContact {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 768px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }

}
/* Phone on screens that are 640px or less */
@media (max-width: 640px) {
    .header {
        position: static;
        max-width: 640px;
    }
    .container {
        margin: 0px;
    }
    .leftContainer {
        width: 55%;
    }
    .rightContainer {
        width: 45%;
    }
    .bio {
        margin: 0px;
        max-width: 640px;
        width: 100%;
    }
    .bioContent {
        margin: 0px;
    }
    .containerContact {
        margin: 0px;
        max-width: 640px;
        width: 100%;
    }
    .contactHeader {
        margin: 0px;
        max-width: 640px;
    }
    .contactRequest {
        margin: 0px;
        max-width: 640px;
        width: 100%;
    }
    .name {
        max-width: 640px;
    }
    .nameInput {
        max-width: 640px;
        width: 95%;
    }
    .email {
        max-width: 640px;
    }
    .emailInput {
        max-width: 640px;
        width: 95%;
    }
    .message {
        max-width: 640px;
    }
    .messageInput {
        max-width: 640px;
        width: 95%;
    }
    .submit {
        margin-left: 0px;
    }
    .containerPortfolio {
        max-width: 640px;
        width: 100%;
        margin: 0px;
    }
    .portfolioHeader {
        margin: 0px;
    }
    .containerOne {
        max-width: 640px;
        width: 100%;
        margin: 0px;
    }
    .containerTwo {
        max-width: 640px;
        width: 100%;
        margin: 0px;
    }
    .containerThree {
        max-width: 640px;
        width: 100%;
        margin: 0px;
    }
    .footerIndex {
        position: relative;
        left: 0;
        bottom: 0;
        max-width: 640px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
    .footerPortfolio {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 640px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
    .footerContact {
        position: sticky;
        left: 0;
        bottom: 0;
        max-width: 640px;
        width: 100%;
        height: 10px;
        font-size: 0.75rem;
    }
}

